<div class="jumbotron">
    <div class="container">
        <h1>Meal Planner</h1>
        <p>This is the homepage</p>
        <br>
        <p>
            <%= button_to 'Get Recipes', recipes_path, :method => :get,  :class => "btn btn-primary btn-lg"%>
        </p>
    </div>
</div>